<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-light blue lighten-4" style="font-size: 150%;">
  <a class="navbar-brand" href="#"><img id="logoImage" src="/images/pngLogo2.png" alt="Logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
    aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/create">Create</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/search">Search</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default"
          aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" href="/savedRecipes">My Saved Recipes</a>
          <a class="dropdown-item" href="#">Log Out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<!--/.Navbar -->

<div class="container" style="color:black;">
    <div class="row">
        <div class="col-lg-6">
            <div class="jumbotron">
                <h1>{{recipesObj.title}}</h1>
                <img src="{{recipesObj.image}}" alt="fuck">
                <br>
                <h3>Ingredients</h3>
                
                <ul class="list-group list-group-flush">
                    {{#each ingredientsListObj}}
                    <li class="list-group-item" data-toggle="popover-hover" data-img={{image}}>{{original}}</li>
                    {{/each}}
                </ul>
                
                {{!-- data-toggle="popover-hover" data-img="https://mdbootstrap.com/img/logo/mdb192x192.jpg" --}}
            </div>

        </div>
        <div class="col-lg-6">
            <div class="jumbotron">
                <h1>Instructions:</h1>
                <br>
                <ul class="list-group list-group-flush">
                    {{#each instructionsListObj}}
                    <li class="list-group-item"><span class="badge badge-info">{{Number}}</span> {{Step}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>